/*!************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./node_modules/@splidejs/react-splide/dist/css/themes/splide-skyblue.min.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************/
.splide__track--nav>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer;opacity:.7}.splide__track--nav>.splide__list>.splide__slide.is-active{border:3px solid #00bfff;opacity:1}.splide__arrow{align-items:center;background:transparent;border:0;border-radius:0;cursor:pointer;display:flex;height:2.5em;justify-content:center;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2.5em;z-index:1}.splide__arrow svg{fill:#00bfff;height:2.5em;transition:fill .2s linear;width:2.5em}.splide__arrow:hover:not(:disabled) svg{fill:#66d9ff}.splide__arrow:disabled{opacity:.3}.splide__arrow:focus-visible{outline:3px solid #00bfff;outline-offset:3px}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide.is-focus-in .splide__arrow:focus{outline:3px solid #00bfff;outline-offset:3px}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:10px;margin:3px;padding:0;position:relative;transition:background-color .2s linear,transform .2s linear;width:10px}.splide__pagination__page.is-active{background:#00bfff;transform:scale(1.4);z-index:1}.splide__pagination__page:hover{background:#66d9ff;cursor:pointer;opacity:.9}.splide__pagination__page:focus-visible{outline:3px solid #00bfff;outline-offset:3px}.splide.is-focus-in .splide__pagination__page:focus{outline:3px solid #00bfff;outline-offset:3px}.splide__container{box-sizing:border-box;position:relative}.splide__list{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:flex;height:100%;margin:0!important;padding:0!important}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{align-items:center;display:flex;flex-wrap:wrap;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide:not(.is-overflow) .splide__pagination{display:none}.splide__progress__bar{width:0}.splide{position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;flex-shrink:0;list-style-type:none!important;margin:0;position:relative}.splide__slide img{vertical-align:bottom}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #00bfff;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__sr{clip:rect(0 0 0 0);border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.splide__toggle.is-active .splide__toggle__play,.splide__toggle__pause{display:none}.splide__toggle.is-active .splide__toggle__pause{display:inline}.splide__track{overflow:hidden;position:relative;z-index:0}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__track--draggable{-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;user-select:none}.splide__track--fade>.splide__list>.splide__slide{margin:0!important;opacity:0;z-index:0}.splide__track--fade>.splide__list>.splide__slide.is-active{opacity:1;z-index:1}.splide--rtl{direction:rtl}.splide__track--ttb>.splide__list{display:block}.splide__progress__bar{background:#ccc;height:3px}.splide__slide{-webkit-tap-highlight-color:rgba(0,0,0,0)}.splide__slide:focus{outline:0}@supports(outline-offset:-3px){.splide__slide:focus-visible{outline:3px solid #00bfff;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide__slide:focus-visible{border:3px solid #00bfff}}@supports(outline-offset:-3px){.splide.is-focus-in .splide__slide:focus{outline:3px solid #00bfff;outline-offset:-3px}}@media screen and (-ms-high-contrast:none){.splide.is-focus-in .splide__slide:focus{border:3px solid #00bfff}.splide.is-focus-in .splide__track>.splide__list>.splide__slide:focus{border-color:#00bfff}}.splide__toggle{cursor:pointer}.splide__toggle:focus-visible{outline:3px solid #00bfff;outline-offset:3px}.splide.is-focus-in .splide__toggle:focus{outline:3px solid #00bfff;outline-offset:3px}.splide__arrows--rtl .splide__arrow--prev{left:auto;right:1em}.splide__arrows--rtl .splide__arrow--prev svg{transform:scaleX(1)}.splide__arrows--rtl .splide__arrow--next{left:1em;right:auto}.splide__arrows--rtl .splide__arrow--next svg{transform:scaleX(-1)}.splide__arrows--ttb .splide__arrow{left:50%;transform:translate(-50%)}.splide__arrows--ttb .splide__arrow--prev{top:1em}.splide__arrows--ttb .splide__arrow--prev svg{transform:rotate(-90deg)}.splide__arrows--ttb .splide__arrow--next{bottom:1em;top:auto}.splide__arrows--ttb .splide__arrow--next svg{transform:rotate(90deg)}.splide__pagination--ttb{bottom:0;display:flex;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/sections/landing/carousel/carousal.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.box1-main {
    text-align: center;
    position: relative;
    top: 30%;
}

.box1-font {
    font-size: 41px !important;
}

.box2-font {
    font-size: 31px !important;
}

.box3-font {
    font-size: 32px !important;
}

.box4-font {
    font-size: 41px !important;
}

.splide__pagination {
    bottom: 40%;
    right: auto !important;
    left: 20% !important;
}

.splide__pagination__page {
    background: rgba(255, 255, 255, 0.608);
    margin: 0 10px;
    width: 9px;
    height: 9px;
}

.splide__pagination__page.is-active {
    background: rgb(255, 255, 255);
    transform: scale(1);
}

.splide__track {
    overflow: visible !important;
}

#sub1.splide__arrow--prev {
    width: 90px;
    height: 90px;
    left: -9em;
    font-size: 13px;
}

#sub2.splide__arrow--next {
    width: 90px;
    height: 90px;
    right: -9em;
}

#sub1.splide__arrow svg {
    font-size: 25px!important;
}
#sub2.splide__arrow svg {
    font-size: 25px!important;
}

@media screen and (max-width: 900px) {
    .splide__pagination {
        bottom: 8.2%!important;
        right: auto !important;
        left: 34% !important;
    }
    .box1-font {
        font-size: 32px !important;
    }
}
@media screen and (max-width: 600px) {
    .box2-font {
        font-size:27px !important;
    }
    .box3-font {
        font-size:30px !important;
    }
    .box4-font {
        font-size:35px !important;
    }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[12].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\theme\\theme.js","import":"","arguments":[{"src":[{"path":"./font/bandanova/BandaNova-Light.ttf","weight":"300","style":"light"},{"path":"./font/bandanova/BandaNova-Medium.ttf","weight":"400","style":"light"},{"path":"./font/bandanova/BandaNova-Bold.ttf","weight":"500","style":"light"}]}],"variableName":"bandaNova"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__bandaNova_fbb555';
src: url(/_next/static/media/bc6123e2832ccf00-s.p.ttf) format('truetype');
font-display: swap;
font-weight: 300;
font-style: light;
}

@font-face {
font-family: '__bandaNova_fbb555';
src: url(/_next/static/media/835a75c50a7c46ee-s.p.ttf) format('truetype');
font-display: swap;
font-weight: 400;
font-style: light;
}

@font-face {
font-family: '__bandaNova_fbb555';
src: url(/_next/static/media/b69ef205852aacc0-s.p.ttf) format('truetype');
font-display: swap;
font-weight: 500;
font-style: light;
}@font-face {font-family: '__bandaNova_Fallback_fbb555';src: local("Arial");ascent-override: 91.12%;descent-override: 26.03%;line-gap-override: 0.00%;size-adjust: 115.24%
}.__className_fbb555 {font-family: '__bandaNova_fbb555', '__bandaNova_Fallback_fbb555'
}

/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/page.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
.subContainer1 {
    padding-left: 57px !important;
    padding-right: 57px !important;
    margin-top: -200px !important;
}

.subContainer3 {
    padding-left: 57px !important;
    padding-right: 57px !important;
}

.subContainer4 {
    padding-left: 90px !important;
    padding-right: 80px !important;
}

.subContainer6 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.subContainer2 {
    padding-left: 57px !important;
    padding-right: 57px !important;
    /* margin-top: -200px !important; */
}

.mui-68lmre-MuiContainer-root {
    padding-left: 140px !important;
    padding-right: 140px !important;
}

.child-container {
    max-width: 31% !important;
    margin: 0 14px !important;
}

.mui-1mhkjzs-MuiPaper-root-MuiCard-root {
    border-radius: 49px !important
}

.whyUsSlider {
    margin-left: 80px !important;
}

.whyUsSlider2 {
    border-radius: 60px !important;
}

/* .gogreen{
   padding: 73px 60px!important;
} */

.gogreenimage {
    padding: 80px 0 50px 0 !important;
}

.gogreenbtn {
    border-radius: 40px !important;
    min-height: 127px !important;
    padding-bottom: 20px !important;
}

.gogreencontain {
    margin: 20px;
}

.product_head { 
    font-size: 1px!important;
}
.subgocontain {
    margin: 0 auto !important;
}

.letsTest ul.splide__pagination.splide__pagination--ltr {
    bottom: 2%;
    right: auto !important;
    left: 45% !important;
    padding-top: 45px;
}

.letsTest .splide__pagination__page {
    background: rgb(204, 204, 204);
    margin: 0 6px;
    width: 9px;
    height: 9px;
}

.letsTest .splide__pagination__page.is-active {
    background: rgb(2, 238, 255);
    transform: scale(1);
}

/* .letsTest .splide__arrow--prev{
    position: relative;
    left: 3%;
    top: 34%;
} */
.letsTest .splide__pagination .mui-1g8qmdb {
    background-color: #00C5F6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downContainer {
    box-shadow: -0.7794860601425171px 3.1179442405700684px 17.148691177368164px rgba(82.87, 82.87, 82.87, 0.12);
    background-color: #FFFFFF;
    color: #FFFFFF;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: visible;
    border-radius: 32px;
    width: 92% !important;
    margin-left: 71px;
    padding-bottom: 3rem;
}

.askQuestions {
    /* height:100%!important; */
    margin-top: -5% !important;
    padding: 40px;
}

.askQuestions1 {
    width: 85% !important;
    height: 430px !important;
}

.inputField input[type="text"] {
    height: 100px;
    font-size: 16px;
    font-weight: 500;
    border-top-right-radius: 50px;
}

.splide__track {
    overflow: visible !important;
}

.productA {
    width: 150px !important;
}

.productB {
    width: 400px !important;
}

.productC {
    width: 100px !important;
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden !important;
    }

    #sub1.splide__arrow--prev {
        width: 50px;
        height: 50px;
        left: 0em;
        font-size: 7px;
    }

    #sub2.splide__arrow--next {
        width: 50px;
        height: 50px;
        right: 0em;
        font-size: 7px !important;
    }

    .subContainer2 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .askQuestions {
        /* height:100%!important; */
        margin-top: -5% !important;
        padding: 0px !important;
    }

    .askQuestions1 {
        width: 100% !important;
        height: 100% !important;
        padding-bottom: 52px;
    }

    .inputField input[type="text"] {
        height: 100px;
        font-size: 16px;
        font-weight: 500;
        border-top-right-radius: 50px;
    }

}

@media screen and (max-width: 600px) {

    /* Your styles for the specified media query */
    .mui-11meqwa-MuiTypography-root {
        font-size: 27px !important;
    }

    .downContainer {
        box-shadow: ivory !important;
        background-color: #FFFFFF;
        color: #FFFFFF;
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        overflow: visible !important;
        border-radius: none !important;
        width: auto !important;
        margin-left: 0 !important;
        padding-bottom: 0rem;
        padding: 20px !important;
        width: 100vw !important;
    }

    .gogreencontain {
        margin: auto !important;
    }

    .gogreenimage {
        padding: 55px 0 24px 0 !important;
    }

    .gogreenbtn {
        min-height: 47px !important;
        padding-bottom: 0px !important;
        width: 350px;
    }

    /* .splide__arrow{
        position: relative;
        top: -25%;
    } */
    .letsTest ul.splide__pagination.splide__pagination--ltr {
        bottom: 2%;
        right: auto !important;
        left: 37% !important;
        padding-top: 45px;
        display: none !important;
    }

    .whySwitchHeading {
        text-align: center !important;
    }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/sections/landing/features/feature.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.features{
    width: 85%!important;
}
@media screen and (max-width: 600px) {
    .features div{
        margin:0 25px;
    }
    
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/sections/landing/testimonials/review.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.reviewCard {
    box-shadow: -0.7794860601425171px 3.1179442405700684px 17.148691177368164px rgba(82.87, 82.87, 82.87, 0.12);
    background-color: #FFFFFF;
    color: #FFFFFF;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 32px;
    width: 92% !important;
    margin-left: 55px;
    height: 560px !important;
}

.bb {
    position: absolute;
    left: -5%;
}

.ff {
    position: absolute;
    right: -5%;
}

.splide__track {
    overflow: visible !important;
}

.testimonial-controller .splide__pagination {
    visibility: hidden;
}
@media screen and (max-width: 600px) {
    .reviewCard {
        width: 100% !important;
        margin-left: 0px!important;
        height: 460px !important;
    }
    .bb {
        position: absolute;
        left: -5%;
    }
    .ff {
        position: absolute;
        right: -5%;
    }
    .splide__track {
        overflow: visible !important;
    }
    .testimonial-controller .splide__pagination {
        visibility: hidden;
    }
    
}
